* {
    background-color:  rgba(111, 4, 20, 0.904);
    color: white;
}

/* Footer */
.mainfooter{
    background-color:  rgba(111, 4, 20, 0.904); 
    color: white;
}

.footer-social-icons{
    display:block;
}