*{
    color:white;

}

body {
    background-color: black;
    background-image: url("https://media.giphy.com/media/5nl3M2usuUQkNRQWJj/giphy.gif") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    z-index: 1;
}

  
  button:focus {
    box-shadow: none !important;
  }
  
  /* --------- */
  /* Navbar Section  */
  /* --------- */

  .navbar {
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.3rem 2rem !important;
    font-size: 1.2rem !important;
    background-color: black;
  }
  
  .navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
  .navbar-toggler span {
    display: block !important;
    height: 4px !important;
    width: 27px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0 !important;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out !important;
    transition: transform 0.35s ease-in-out !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(135deg) !important;
    opacity: 0.9 !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px !important;
    visibility: hidden !important;
    background-color: transparent !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(-135deg) !important;
    opacity: 0.9 !important;
  }
  
  @media (max-width: 767px) {
    .navbar {
      padding: 1rem 2rem !important;
      font-size: 1.4rem !important;
    }
    .navbar-nav .nav-item a::after {
      display: none !important;
    }
  }
  
  .navbar-nav .nav-link {
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    background-color: black;
  }
  
  .nav-link {
    padding: 0.8rem 1rem !important;
  }
  
  @media (max-width: 767px) {
    .nav-link {
      padding: 0.7rem 1rem !important;
    }
  }
  
  .navbar-nav .nav-item {
    position:relative;
    margin-left: 20%;
  }
  
  .navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
  }
  
  .navbar-nav .nav-item a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #ffffff;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
  }
  
  .navbar-nav .nav-item a:hover::after {
    width: 100%;
  }
  
  #responsive-navbar-nav, .navbar-nav, .cont-nav {
    background-color: black;
  }
  /* --------- */
  /* Home section */
  /* --------- */
  
  .home-head {
    padding-top: 80px !important;
    margin-left: 30%;
    margin-top: 15%;
  }
  
  .home-section {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    padding-top: 100px !important;
  }
  
  .home-content {
    padding: 9rem 0 2rem !important;
    color: whitesmoke;
    text-align: left;
  }
  
  .heading {
    font-size: 2.4em !important;
    padding-left: 50px !important;
  }
  
  .heading-name {
    font-size: 2.5em !important;
    padding-left: 45px !important;
  }
  
  .main-name {
    color: #ffffff;
  }
  
  .Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #ffffff !important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: #ffffff !important;
  }
  
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 1.4em !important;
      font-weight: 500 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }
  }
  
  .home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 70px !important;
  }
  
  .home-about-description {
    color: white !important;
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    text-align: center;
  }
  
  .home-about-body {
    padding-top: 50px;
    font-size: 1.2em !important;
    text-align: left;
  }
  

  /* --------- */
  /* Footer */
  /* --------- */

  .mainfooter, .footer-social-icons, .social-icons, .footer-body{
    background-color: black;
  }
 
  .footer-body{
    text-align: center;
    border: 20px solid black;
  }
  .mainfooter {
    padding-top: 5%;
  }
  .social-icons {
    display: inline;
    padding: 10px;
    text-align: center;
    list-style : none;
  }
  @media (max-width: 767px) {
 
    .footer-body {
      text-align: center !important;
    }
  }
  
  /* --------- */
  /* Portfolio */
  /* --------- */
  .portfolio-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
  }
  
  .proj-Card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    width: 320px !important;
    height: 620px!important;
  }
  
  .card-img-top, .card-title, .card-body, .card-text, .project-card-view
  {
    background-color: #000000;
  }
  .project-card-view {
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.459) !important;
    color: white !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
  }
  .project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(164, 162, 162, 0.561) !important;
  }
  
  .card-img-top {
    padding: 20px !important;
    opacity: 0.8 !important;
    border-radius: 10px !important;
    height: 268px;
    width: 268px;
  }

  .card-body{
    height: 268px;

  }
  
  .btn-primary {
    color: #fff !important;
    background-color: #863636 !important;
    border-color: #863636 !important;
  }
  
  .btn-primary:hover {
    color: #fff !important;
    background-color: #c52020d7 !important;
    border-color: #c52020d7 !important;
  }
  .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .proj-page-head {
    color: white !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    margin-top: 15%;
  }
  
  /* --------- */
  /* About */
  /* --------- */
  
  .about-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;    
    color: white !important;
  }

  .about-me,
  .coding-languges {
    text-align: center;
    padding: 50px;
  }
  .coding-languges, h2 {
    text-align: center;
  }
  .skillset {
    list-style: none !important;
    text-align: center !important;
    padding-left: 1px !important;
  }
  
  /* --------- */
  /* Resume */
  /* --------- */
  
  .resume-section {
    margin-top: 15%;
    margin-bottom: 30%;
  }

  .resume-instructions {
    text-align: center;
  }

  /* Contact */

  .contact-section {
    margin-top: 15%;
  }

  .form-floating {
    width:500px;
    margin-left:30%
  }

  .contact-info,
  .error-text {
    margin-left:30%
  }

  .btn-main {
    margin-left:30%;
    background-color: maroon;
  }

  .email{
    color:white;  
    margin-bottom: 10%; 
  }
  .email::after .email:visited {
    color:white;
  }